rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Helpers
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && 
             (request.auth.token.email == "prashantbagriya7877@gmail.com" || request.auth.uid == "KtDarqI1k3drtHssmtoMZwX2IyX2") &&
             request.auth.token.email_verified == true;
    }

    match /playbooks/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
